<div>

    <h1>Regístrate</h1>

    <form id="registerForm" >

        <label>Nombre</label>
        <input name="firstName" required>

        <label>Apellido</label>
        <input name="lastName" required>

        <label>Email</label>
        <input name="email" required>

        <label>Contraseña</label>
        <input type="password" name="password" required>

        <input type="submit">
    </form>

    <p>Si ya estas registrado, <a href="/login">logueate</a></p>

</div>

<script src="/js/register.js"></script>