<div>
    <h1>Chat para uso interno de la compania:</h1>
    <p id="logs"></p>
    <input id="chatBox">
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>