<div>

    <h1>Logueate</h1>

    <form id="loginForm" >

        <label>Email</label>
        <input name="email">

        <label>Contraseña</label>
        <input type="password" name="password">

        <input type="submit">
    </form>

    <p>Tambien puedes loguearte mediante:</p>
    <button><a href="api/sessions/github">Github</a></button>

    <p>Si no tienes una cuenta aún:</p>
    <button><a href="/register">Registrate</a></button>

</div>

<script src="/js/login.js"></script>